/* Подключение шрифтов */

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Общие правила */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444;

}



.button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  min-height: 40px;
  border: none;
  outline: none;
}

.button::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 40%;
  bottom: 40%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  transition: all 0.5s;

}


.button:hover::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  transition: all 0.5s;
}

.button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;

}

.button:active::before {
  background-color: #FFCC33;
  transition: all 0.5s;
}

.button:disabled::before {
  opacity: 0.3;
  transition: all 0.5s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */
.page-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #FFE17F;
  color: #000;

}

.header-content {
  max-width: 1041px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Навигация */
.navigation {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;

}

.navigation-logo {
  display: block;
  width: 145px;

}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-logo:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.logo-container {
  padding-left: 60px;
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #fff 50%, #FFE17F 50%);
  max-height: 36px;

}


.page-header-logo {
  width: 145px;
}

/* Пользовательская навигация */
.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 517px;
  box-sizing: border-box;

  margin: 0;
  margin-right: 27px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}



.header-search-field {
  width: 360px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background-color: #FFE17F;

}

.header-search-field::placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-input-wrapper {
  display: inline-flex;
  box-sizing: border-box;
  width: 359px;
  height: 40px;
  padding: 10px 16px;
  border-radius: 50px 0 0 50px;

  align-items: center;
  border: 2px solid black;


}

.search-icon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  order: -1;

}

.header-search-field:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.header-search-field:focus-visible {
  outline: none;
}



.header-search-fiel:disabled {
  opacity: 0.3;
}

.search-input-wrapper:focus-within {
  z-index: 1;
  outline: 2px solid #af4fff;
  outline-offset: 2px;

}

.header-search-field[value] {
  outline: none;
  border: none;
}



.search-button {
  position: relative;
  width: 160px;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 26px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background-color: #FFE17F;
  border-radius: 0 50px 50px 0;
  border-left: 0;
  border-color: #000;

}




.search-button:hover {
  color: #fff;
  background-color: #000;

}

.search-button:active {
  color: #fff;
  background-color: #000;

}

.search-button:active span {
  opacity: 0.3;
}

.search-button:focus {
  outline: none;
}

.search-button:focus::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 4px;


}

.navigation-user {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;


}

.login-list {
  display: flex;
  align-items: center;
  width: 231px;
  margin: 0;
  padding: 0;
  margin-right: 26px;
  list-style-type: none;
}



.login-list-item:last-of-type {
  margin-right: 0;
}

.login-list-item-link {
  position: relative;
  display: block;
  min-width: 54px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.login-list-item-link:hover {
  opacity: 0.6;
}

.login-list-item-link:active {
  opacity: 0.3;
}

.login-list-item-linkk:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.login-list-item .enter {
  margin-right: 28px;
  padding-left: 27px;
}

.navigation-user-item {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-right: 18px;
  list-style: none;
}

.navigation-user-item:last-child {
  margin-right: 0;
}



.navigation-user-link {
  position: relative;
  display: block;
  min-width: 54px;
  min-height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.navigation-user-link .cart {
  position: relative;

}

.cart-counter {
  position: absolute;
  top: 4.5px;
  left: -2.5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  padding: 2px;
  font-size: 14px;
  line-height: 16.59px;
  background-color: #fff;
  border-radius: 50%;


}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}





.navigation-user-item .compare {
  padding-left: 22px;

}

.navigation-user-item .cart {
  padding-left: 43px;



}

.cart {
  position: relative;
}


.cart-popover {
  position: absolute;
  top: 36px;
  right: -77px;
  z-index: 3;
  display: none;
  width: 320px;
  min-height: 83px;
  box-sizing: border-box;
  background-color: #000;

}

.cart-popover::before {
  position: absolute;
  content: "";
  top: -6px;
  left: 153px;
  width: 14px;
  height: 6px;
  background-image: url(../images/header/cart-popover-rectangle.svg);
  background-repeat: no-repeat;



}

.cart-popover-list {
  margin: 0;
  padding: 20px;
  list-style: none;



}

.cart-popover-list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;


}



.cart-popover-list-item-image {
  display: block;
  width: 39px;
  height: 43px;

  margin-right: 25px;

}

.cart-popover-list-item-title {
  min-width: 151px;
  max-width: 161px;
  font-size: 16px;
  margin: 0;
  line-height: 20px;
  color: #FFF;




}

.cart-popover-list-item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}


.cart-popover-list-item-link:hover .cart-popover-list-item-image,
.cart-popover-list-item-link:hover .cart-popover-list-item-title {

  opacity: 0.6;
}

.cart-popover-list-item-link:active .cart-popover-list-item-image,
.cart-popover-list-item-link:active .cart-popover-list-item-title {

  opacity: 0.3;
}


.cart-popover-list-item-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.popover-cart-delete-button {
  position: relative;
  align-self: flex-start;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;


}

.popover-cart-delete-button::before,
.popover-cart-delete-button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 1px;
  margin: auto;
  background: #ffffff;

}



.popover-cart-delete-button::before {
  transform: rotate(45deg);
}

.popover-cart-delete-button::after {
  transform: rotate(-45deg);
}

.cart-popover-list-item + .cart-popover-list-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 320px;
  height: 1px;
  opacity: 0.1;
  background: #ffffff;

}

.cart-popover-list-item + .cart-popover-list-item {
  padding-top: 20px;
}

.cart-popover-list-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  list-style: none;
  background-color: #1A1A1A;

}

.cart-popover-list-total-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

}

.cart-popover-list-total-product-text {
  margin: 0;
  margin-right: 5px;
  font-size: 16px;
  line-height: 20px;
}

.cart-popover-list-total-product-counter {
  font-size: 16px;
  line-height: 20px;
}

.navigation-user-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  margin: auto;
}

.cart .navigation-user-icon {
  top: 1px;
  left: 15px;

}

.cart-open-link {
  display: block;
  width: 280px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 20px;
  min-height: 21px;
  padding: 14.5px 25px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.2px;
  text-decoration: none;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
}

.navigation-user-item:hover .cart-popover,
.navigation-user-item:active .cart-popover {
  display: block;
}

.popover-cart-delete-button:hover {
  opacity: 0.6;
}

.popover-cart-delete-button:active {
  opacity: 0.3;
}

.popover-cart-delete-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-open-link:hover {
  background-color: #FFE17F;
}

.cart-open-link:active {
  background-color: #FFE17F;
}

.cart-open-link:active span {
  opacity: 0.3;
}

.cart-open-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;

}

/* Главная навигация */
.navigation-catalog-dropdown-button {
  position: relative;
  display: block;
  width: 293px;
  min-width: 236px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  padding-right: 57px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: start;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
  background-color: #ffe17f;
  color: #000000;
  border: none;
  cursor: pointer;
}

.navigation-catalog-dropdown-button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-image: url("../images/header/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.navigation-catalog-dropdown-button:hover::after,
.navigation-catalog-dropdown-button:active {
  opacity: 1;
}

.navigation-catalog-dropdown-button:active .submenu-wrapper {
  display: flex;
}

.navigation-catalog-dropdown-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-catalog-dropdown-button:focus::after {
  background-image: url("../images/header/minus.svg");
}


.navigation-list-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1050px;
  margin-bottom: 9px;

}

.main-nav-button-wrapper {
  display: flex;
  margin-right: 276px;
}

.main-nav-button-wrapper:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.main-nav-button-catalog {
  display: block;
  margin: 0;
  margin-right: 7px;
  padding: 0;
  min-width: 236px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  background-color: #ffe17f;
  border: none;
  cursor: pointer;

}



.navigation-list-catalog {
  box-sizing: border-box;
  margin: 0;
  margin-right: 276px;
  padding: 0;
  list-style-type: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation-list-item {
  position: relative;
  margin-bottom: 14px;
}

.navigation-list-item:not(:last-of-type) {
  margin-right: 47px;
}

.navigation-list-item:focus-within .submenu-wrapper {
  display: flex;
}



.navigation-list-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 3.4px;
  overflow-wrap: break-word;
}

.navigation-list-link:hover {
  opacity: 0.6;
}

.navigation-list-link:active {
  opacity: 0.3;
}

.navigation-list-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-list-item:last-of-type {
  margin-right: 0;
}

.submenu-wrapper {
  position: absolute;
  top: 57px;
  left: -60px;
  z-index: 5;
  display: none;
  width: 1160px;
  box-sizing: border-box;
  min-height: 154px;
  padding-left: 60px;
  background-color: #ffe17f;
}

.catalog-submenu-list {
  width: 252px;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style-type: none;
}

.catalog-submenu-list:nth-child(2) {
  width: 212px;
}

.catalog-submenu-list-item {
  margin-bottom: 7px;
}

.catalog-submenu-list-item-link {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.catalog-submenu-list-item-link:hover {
  opacity: 0.6;
}

.catalog-submenu-list-item-link:active {
  opacity: 0.3;
}

.catalog-submenu-list-item-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Мейн */
.main-container {
  flex-grow: 1;
}


/* Слайдер */


.gallery {
  width: 1160px;
  margin: 0 auto;
  background-color: #fff;

}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inactive-slide {
  display: none;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
  margin-bottom: 70px;
  background: linear-gradient(#ffe17f 150px, 150px, #ffffff);

}

.slider-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 560px;
  height: 560px;
}

.slider-image-wrapper .quadrocopter-image {
  width: 560px;
  height: 560px;
  object-fit: contain;
}

.slider-image-wrapper .fitness-tracker-image {
  width: 560px;
  height: 560px;
  object-fit: contain;
}

.slider-image-wrapper .monopod-image {
  width: 560px;
  height: 560px;
  object-fit: contain;
}

.slider-text {
  margin: 0;
}

.slider-buttons-wrapper {
  position: absolute;
  top: 211px;
  left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530px;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  background-image: url(../images/slider/arrow-left-slider.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}


.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  border: 2px solid #AF4FFF;
  outline: 0;
  opacity: 1;
}





.slider-next {
  transform: rotate(180deg);
}

.slider-text-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 122px;
  width: 560px;
}

.slider-number {
  position: absolute;
  right: 49px;
  top: 10px;
  z-index: -1;
  display: block;
  font-size: 180px;
  line-height: 180px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
}




.slider-title {
  margin-bottom: 30px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000;
}

.slider-description {
  margin-bottom: 50px;
}

.pagination-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

.detailed-button {
  min-width: 220px;
  margin-right: 264px;
  text-decoration: none;
  color: #000;

}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.slider-pagination-item:not(:last-of-type) {
  margin-right: 20px;
}

.slider-pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.pagination-button-circle {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 100%;
}

.slider-pagination-button:hover .pagination-button-circle {
  opacity: 0.6;
}

.slider-pagination-button:active .pagination-button-circle {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
  border: 0;
}

.slider-pagination-button-current svg circle {
  fill: #000;
}


.slider-value {
  font-size: 36px;
  color: #000;
}

.slider-property {
  font-size: 16px;
  color: #444;
}

.slider-advantages {
  margin-bottom: 38px;
}

/* description-list на гридах */

.monopod-advantages {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 40px;
  row-gap: 15px;
  width: 385px;

}


.quadrocopte-advantages {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 20px;
  row-gap: 15px;
  width: 305px;

}

.fitnes-tracker-advantages {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 15px;
  width: 385px;
}

.slider-value {
  grid-row: 1 / 2;
  margin: 0;
}

/* Категории каталога */
.catalog-categories-index {
  width: 1160px;
  margin: 0 auto;
}

.catalog-catigories-figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  list-style: none;
}

.catalog-categories-link-item {
  width: 160px;

}

.catalog-categories-image {
  display: block;
  margin-bottom: 33px;
  background-color: #ffe17f;
}

.catalog-categories-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  letter-spacing: -0.02em;
}

.catalog-categories-item {
  margin: 0;
}

.catalog-categories-link:hover .catalog-categories-image {
  background-color: #FFC700;
}

.catalog-categories-link:active .catalog-categories-item {
  opacity: 0.3;
}

.catalog-categories-link:focus .catalog-categories-item {
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.catalog-categories-link:focus-visible {
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-categories-caption-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

/* Услуги */

.services {
  position: relative;
  margin-bottom: 70px;
  background-color: #F0F0F0;

}

.services::after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 102px;
  background-color: #fff;
}


.services-list-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;

}



.services-list-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.services-list-buttons {
  background-color: #F0F0F0;
  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  list-style-type: none;
}

.services-list-buttons-item:not(:last-of-type) {
  margin-bottom: 35px;
}

.services-list-button {
  min-width: 160px;
}

.services-list-button-current {
  color: #FFE17F;
}

.services-list-button-current::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 280px;
  height: 40px;
  background-color: #000;

}

.services-list-button-current:hover {
  color: rgba(255, 225, 127, 0.5);
}

.services-list-button-current:active {
  color: rgba(255, 225, 127, 0.3);
}

.services-list {
  position: relative;
  z-index: 4;
  width: 880px;
  margin: 0;
  padding: 0;
  padding-top: 78px;
  list-style: none;
}

.services-list::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 72px;
  width: 7px;
  height: 319px;
  background-color: #000;
}

.services-list-item {
  padding-left: 122px;
  padding-bottom: 144.5px;
  background-image: url(../images/services/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 680px 0;
}


.services-list-title {
  margin: 0;
  margin-bottom: 34px;
  color: #000;

}

.services-list-text {
  margin: 0;
}

.services-list-icon-delivery {
  width: 136px;
  height: 164px;

}

.services-list-icon-warranty {
  width: 171px;
  height: 195px;
}

.services-list-icon-credit {
  width: 156px;
  height: 188px;
}

/* Доставка редкого продукта */

.rare-product-delivery {

  width: 1160px;
  margin: 0 auto;
  margin-bottom: 115px;
  background-color: #F0F0F0;

}

.rare-button {
  position: relative;
  width: 1160px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-left: 125px;
  /* padding-right: 42.5px; */
  padding-right: 322px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 23.48px;
  letter-spacing: 0.2em;
  color: #000;
  border: none;
  cursor: pointer;
}

.rare-button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  background-image: url("../images/services/icon-custom-products.svg");
  background-repeat: no-repeat;
  background-size: 41px 31px;
  background-position: center;

}



.rare-product-info {
  position: absolute;
  color: "";
  top: 30px;
  right: 42.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 200px;
  background: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.rare-button:hover::before {
  background-color: #FFC700;
}

.rare-button:hover .rare-product-info-icon g {
  opacity: 1;
}

.rare-button:active {
  opacity: 0.3;
}

.rare-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* О нас */

.index-columns {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about-company {
  position: relative;
  width: 520px;
  margin-right: 108px;

}

.about-company::before {
  position: absolute;
  content: "";
  top: -45px;
  width: 84px;
  height: 7px;
  background-color: #444;
}



.about-company-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 50px;
  line-height: 50px;

}

.about-company-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-company-delivery-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-company-delivery-item {
  position: relative;
  padding-left: 33.5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  list-style-type: none;


}

.about-company-delivery-item:not(:last-of-type) {
  margin-bottom: 19px;
}

.about-company-delivery-item::before {
  position: absolute;
  content: '\25CF';
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  margin-right: 26px;
  color: #FFC500;
}

.detailed-about-button {
  width: 270px;
  text-decoration: none;
  color: #000;
}

/* Контакты */

.contacts {
  position: relative;
  width: 520px;
}


.contacts::before {
  position: absolute;
  content: "";
  top: -40px;
  width: 84px;
  height: 7px;
  background-color: #444;
}

.contacts-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 50px;
  line-height: 50px;

}

.contacts-text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-name-of-shop {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #444;

}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-address-text {
  font-style: normal;
  margin: 0;

}

.contacts-phone {
  font-style: normal;
  color: #444;

}

.contacts-phone:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;

}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #444;

}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-schedule-item {
  list-style: none;
}

.write-button {
  width: 260px;
  text-decoration: none;
  color: #000;

}

/* Подписка */

.newsletter {
  background-color: #F0F0F0;
}

.newsletter-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.newsletter-title {
  width: 348px;
  margin: 0;
  margin-top: 64px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-text {
  width: 560px;
  margin: 0;
  margin-top: 74px;
  margin-bottom: 144px;
}


.newsletter-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin-bottom: 56px;

}

.newsletter-form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.newsletter-form-field {
  width: 557px;
  height: 57px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 17px;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444;
  background-color: #F0F0F0;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
}

.newsletter-form-field:hover {
  background: rgba(220, 220, 220, 0.3);
}

.newsletter-form-field::placeholder {
  color: #444444;
  opacity: 50%;
}

.newsletter-form-field:focus {
  background: #dcdcdc;
  outline: none;
}

.newsletter-form-field:required {
  border-bottom: 3px solid #C4C4C4;
}

.newsletter-form-field:valid {
  border-bottom: 3px solid #C4C4C4;
}

.newsletter-form-field:focus:invalid {
  border-bottom: 3px #FF3D3D solid;
}

.newsletter-form-field:disabled {
  opacity: 0.3;
}


.newsletter-form-button {
  width: 253px;
  /* min-height: 57px; */

  box-sizing: border-box;
  padding: 16px 39px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 3px solid #C4C4C4;
  transition: all 0.5s;
}

.newsletter-form-button:hover {
  background-color: #000;
  color: #fff;
}

.newsletter-form-button:active span {
  opacity: 0.3;
}

.newsletter-form-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.free-newsletter {
  margin: 0;
  padding-left: 30px;
  color: #444;
  background-image: url(../images/icons/subscribe-tick.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 14px;
}

/* Футер */

.page-footer {
  background-color: #444;
}

.page-footer-container {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 61px;
}



/* Фтуер-адрес */
.navigation-logo-footer {
  display: block;
  margin-bottom: 28px;
}

.footer-contacts {
  position: relative;
  align-self: flex-start;
  width: 240px;
  margin-right: 119px;
}

.footer-contacts::after {
  position: absolute;
  bottom: -65px;
  left: 0;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-contacts-address {
  color: #fff;
  font-style: normal;
}

.footer-contacts-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}



/* футер-навигация */

.footer-navigation {
  width: 444px;
  margin-bottom: 60px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-navigation-item {
  list-style: none;
}


.footer-navigation-link {
  font-family: Raleway, sans-serif;
  line-height: 21.13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;

}

.footer-navigation-link:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.footer-navigation-link:active {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  opacity: 0.3;
}

.footer-navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-center-column {
  display: flex;
  flex-direction: column;
  width: 444px;
  margin-right: 180px;
  padding-top: 70px;
}

.footer-social {
  align-self: center;
  width: 150px;

}

.footer-social-item {
  display: block;
  width: 40px;
  height: 40px;

}

/* Футер-телефон */

.footer-contacts-phone {
  width: 175px;
  display: flex;
  flex-direction: column;

}


.footer-contacts-phone-number {
  margin-bottom: 55px;
  margin-left: 5px;
  font-size: 16px;
  color: #fff;
  text-decoration: underline;

}

.footer-contacts-phone-number:hover {
  color: #FFC700;
}

.footer-contacts-phone-number:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-contacts-phone-number:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.htmlacademy-link {
  display: block;
  margin-left: auto;
}

.htmlacademy-link:hover .htmlacademy-logo path {
  fill: #FFF;

}

.htmlacademy-link:active .htmlacademy-logo path {
  opacity: 0.3;
}

.htmlacademy-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Футер-социальные сети */

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  list-style: none;
}

.social-button {
  display: block;
  width: 40px;
  height: 40px;
}

.footer-social-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.3;
}

.social-button:hover .footer-social-icon-wrapper {
  background-color: #FFC700;
  opacity: 1;
}

.social-button:active .social-button-icon path {
  opacity: 0.3;
}

.social-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Стили для каталога */

/* Пользовательское меню */

.exit {
  opacity: 30%;
}

/* Внутренний хедер */

.inner-header {
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 35px;
  padding-left: 60px;
  box-sizing: border-box;
  color: #000;
  width: 1160px;
}



.inner-header-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}


.breadcrumbs-item:not(:last-child) {
  margin-right: 16px;
  padding-right: 20px;
  background-image: url(../images/catalog/icons/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  background-size: 4px 7px;
  background-position: right center;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 18.96px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Каталог */
.catalog-products {
  background-color: #F0F0F0;
}

.catalog-products-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-top: -8px;
}

/*Левая колонка */

.filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-top: 25px;
  padding-left: 60px;
}

.catalog-filter {
  width: 200px;

}

.inner-title-catalog {
  margin: 0;
  font-size: 16px;
  line-height: 18.78px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.2em;
}

.filter-inner-title-catalog {
  margin-bottom: 58px;

}

.catalog-filter-title {
  padding: 0;
  padding-top: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #000;

}

/* Рэнж */

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #DCDCDC;


}

.range-bar {
  position: absolute;
  height: 2px;
  margin-bottom: 15px;
  background-color: #000;
}

.range-toogle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toogle:hover {
  border: 2px solid rgba(0, 0, 0, 50%);
}

.range-toogle:active {
  opacity: 1;
  background-color: #000;
}

.range-toogle:focus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;


}

.toogle-min {
  top: -9px;
  left: -9px;
}

.toogle-max {
  top: -9px;
  right: -9px;
}

.range-wrapper-inputs {
  display: flex;
  width: 168px;
}

.catalog-filter-label {
  width: 30px;
  margin-left: -14px;
  /* margin-right: 67px; */
  margin-right: 85px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;


}

.range-input {
  display: inline-block;
  margin-left: -20px;
  padding: 0;
  padding-left: 24px;
  width: 40px;
  box-sizing: border-box;
  background-color: transparent;
  font: inherit;
  appearance: textfield;
  border: none;
}

.range-input-before {
  width: 65px;
  padding-left: 25px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  padding: 0;
  appearance: none;
}

.catalog-filter-label {
  display: flex;
  align-items: flex-end;
  text-align: end;

}

.catalog-filter-label-before {
  width: 60px;
  margin-top: -4px;
  margin-right: 0;
}

/* Фильтр  */
.catalog-filter-group {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.catalog-filter-group::before {
  position: absolute;
  content: "";
  top: -60px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #444;
}

.catalog-filter-group:nth-of-type(2) {
  margin-bottom: 32px;
}

.catalog-filter-group:nth-of-type(2)::before {
  top: -55px;
  left: 0;
}

.catalog-filter-group:nth-of-type(3)::before {
  top: -55px;
  left: 0;
}

.catalog-filter-title {
  margin-bottom: 30px;
}

.color-title {
  margin-bottom: 20px;
}

.bluetooth {
  margin-bottom: 22px;
}

.control {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}


.control-mark {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  box-sizing: border-box;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
  background-color: transparent;

}

.control-input:checked + .control-mark {
  border: 2px solid #000000;
}

.control-label {
  color: #000;
  font-size: 16px;
  line-height: 19px;
}

.control:hover .control-mark,
.control:hover .control-label {
  opacity: 0.5;
}

.control:active .control-mark,
.control:hover .control-label {
  opacity: 0.3;
}

.control:disabled .control-mark,
.control:hover .control-label {
  opacity: 0.1;
}

.control-input:focus + .control-mark::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-image: url("../images/catalog/icons/checkbox-icon.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.catalog-filter-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-of-type) {
  margin-bottom: 17.5px;
}

.filter-button {
  width: 220px;
  border-color: transparent;
}


/* Правая колонка */

.catalog-right-column {
  width: 840px;
  background-color: #fff;
  margin: 0 auto;
}

/* Сортировка */

.sorting-wrapper {
  display: flex;
  align-items: center;
  width: 840px;
  height: 70px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 25.5px;
  padding-right: 49.5px;
  background-color: #F0F0F0;

}

.sorting-inner-title-catalog {
  margin-right: 198px;
}

.sorting-control {
  padding-right: 10px;
  margin-right: 210px;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: 0;
  background-color: inherit;
}

.sorting-control:hover {
  opacity: 0.6;
}

.sorting-control:active {
  opacity: 0.3;
}

.sorting-control:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.arrow-wrapper {
  display: flex;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.arrow-up-icon path,
.arrow-down-icon path {
  opacity: 0.2;

}

.arrow-down-icon {

  transform: rotate(180deg);

}

.arrow:hover .arrow-up-icon path,
.arrow:hover .arrow-down-icon path {
  opacity: 0.5;
}

.arrow:active .arrow-up-icon path,
.arrow:active .arrow-down-icon path {
  opacity: 1;
}

.arrow:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Карточки продукта */
.product-card-wrapper {
  background-color: #fff;
  margin-left: 40px;
  margin-bottom: 44px;
}

.product-list {

  display: grid;
  grid-template-columns: 360px 360px;
  row-gap: 44px;
  column-gap: 40px;
  background-color: #fff;
  margin-top: 70px;
  margin-right: 40px;
  padding: 0;
}

.product-card {
  position: relative;
  width: 360px;
  list-style: none;
}


.card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}


.product-card-link {
  display: block;
  text-decoration: none;
  color: #000;
}

.product-card-image {
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
  object-fit: contain;

}

.prodct-card-title {
  width: 250px;
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;

}

.product-card-price {
  min-width: 20%;
  font-weight: 400;
  line-height: 21.33px;
  color: #444;
  text-align: right;
}

.product-card-new {
  position: absolute;
  content: "";
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product-card-new-text {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6)
}

.product-more-detailed {
  position: absolute;
  top: 190px;
  left: 70px;
  width: 210px;
  opacity: 0;
}

.product-card:hover .product-card-link {
  opacity: 0.6;
}

.product-card:hover .product-more-detailed {
  opacity: 1;
}

.product-card:active .product-more-detailed::before {
  background-color: #FFC700;
}

.product-card-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Пагинация */
.pagination-show-more {
  position: relative;
  width: 760px;
  margin-left: 40px;
  margin-bottom: 42px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  padding-left: 25px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2em;
  background-color: #fff;
  border: 3px solid #E5E5E5;
  outline: 0;
  transition: all 0.5s;
}

.pagination-show-more:hover {
  border: 3px solid #000000;
}

.pagination-show-more:active {
  border: 3px solid #000000;
  opacity: 0.3;

}

.pagination-show-more:disabled {
  opacity: 0.3;
}

.pagination-show-more:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.pagination-wrapper {
  display: flex;
  align-items: center;
  width: 760px;
  margin-bottom: 78px;
  box-sizing: border-box;
  margin-left: 40px;
  background-color: #F0F0F0;
}

.pagination-prev {
  margin-right: 145.5px;
}

.catalog-pagination-button {
  letter-spacing: 0.2em;
  padding: 25px;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
  background-color: transparent;
  width: 128px;
  height: 71px;
}

.catalog-pagination-button:hover {
  background-color: #DCDCDC;
}

.catalog-pagination-button:active {
  background-color: #DCDCDC;
}

.catalog-pagination-button:active span {
  opacity: 0.2;
}

.catalog-pagination-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;

}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 145.5px;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  width: 200px;
  align-items: baseline;
  list-style-type: none;

}


.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;

}

.pagination-number:first-child {
  margin-left: auto;

}

.pagination-number:last-child {
  margin-right: auto;

}

.pagination-text {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 21.13px;
  text-transform: uppercase;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);

}

.modal-container-close {
  display: none;
}

.modal-delivery {
  position: relative;
  width: 920px;
  box-sizing: border-box;
  margin: auto;
  padding: 62px 70px;
  color: #000000;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);

}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.modal-close {
  position: absolute;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  top: 11px;
  right: -3px;
  height: 4px;
  width: 32px;
  background-color: #000000;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover {
  opacity: 0.6;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}



.modal-rare-delivery-form {
  display: grid;
  grid-template-columns: 360px 140px 180px;
  gap: 42px 40px;
}

.modal-form-group {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.modal-form-label {
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.modal-form-input {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f0f0f0;
  border: none;
}

.modal-form-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.modal-form-input:hover {
  background-color: #dcdcdc;
}

.modal-form-input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;

}

.modal-form-input.error {
  outline: 2px solid #ff3d3d;
  outline-offset: -2px;
}

.modal-form-input:disabled {
  opacity: 0.1;
}

.modal-form-input.error + .delivery-delivery-input-hint {
  color: #ff3d3d;
}

.group-contacts {
  grid-column: 1 / 2;
}

.group-email {
  grid-column: 2 / 4;
}

.group-products {
  grid-column: 1 / 3;
}

.delivery-input-hint {
  font-size: 14px;
  line-height: 20px;
}

.modal-form-icon-info {
  position: relative;
}

.delivery-quantity-tooltip-button {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 8px;
  margin-top: -3px;
  border: none;
  border-radius: 50%;
  background-color: #ffe17f;
  background-image: url("../images/modal/modal-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.delivery-quantity-tooltip-button:focus {
  outline: none;
}

.delivery-quantity-tooltip-button:focus::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.delivery-quantity-tooltip-button:hover + .tooltip-text,
.delivery-quantity-tooltip-button:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  top: 33px;
  left: -20px;
  z-index: 2;
  display: none;
  width: 200px;
  box-sizing: border-box;
  padding: 20px 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  top: -6px;
  right: 40px;
  width: 14px;
  height: 6px;
  background-image: url("../images/modal/triangle-tooltip-decorate.svg");
  background-repeat: no-repeat;
}

.group-counter-wrapper {
  position: relative;
}

.delivery-quantity {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;

}

.delivery-quantity::before {
  position: absolute;
  content: "";
  top: 29px;
  left: 22px;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.delivery-quantity:hover::before,
.delivery-quantity:hover::after {
  opacity: 0.6;
}

.delivery-quantity:active::before,
.delivery-quantity:active::after {
  opacity: 0.3;
}

.delivery-quantity:focus {
  outline: 2px solid #af4fff;
  z-index: 1;
}

.delivery-quantity:disabled {
  opacity: 0.1;
}

.delivery-quantity-min {
  top: 0;
  left: 0;
  order: -1;
}

.delivery-quantity-max {
  top: 0;
  right: 0;
}

.delivery-quantity-max::after {
  position: absolute;
  content: "";
  top: 29px;
  left: 22px;
  width: 16px;
  height: 2px;
  background-color: #000000;
  transform: rotate(90deg);
}



.input-name {
  padding-right: 55px;
  background-image: url("../images/modal/modal-authorization.svg");
  background-repeat: no-repeat;
  background-position: 325px 24px;
}

.input-mail {
  padding-right: 55px;
  background-image: url("../images/modal/modal-mail.svg");
  background-repeat: no-repeat;
  background-position: 325px 24px;
}

.input-quantity {
  box-sizing: border-box;
  width: 180px;
  text-align: center;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.modal-form-button {
  width: 200px;
  grid-column: 1 / -1;
}
